<h1>Places</h1>
<div class="row">
    <% for place in @places %>
             <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    <% end %>
  
    <div class="container pt-5">
      <a href="/places/new" class="btn btn-primary">New place</a>
    </div>
</div>

