<h1>Places</h1>
<div class="row">
    <% for place in @places %>
             <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    <% end %>
  
  <p>
    <a href="/places/new" class="btn btn-primary">New place</a>
  </p>
</div>

